<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SimpleDispatcher.Present.Maintenance.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    </configSections>
  <connectionStrings>
    <add name="DispatcherDB" connectionString="Data Source=.;Initial Catalog=DispatcherDB;Integrated Security=SSPI;MultipleActiveResultSets=True;Connect Timeout=5;" providerName="System.Data.SqlClient"/>
    <add name="LogDb" connectionString="Data Source=.;Initial Catalog=DispatcherLog;UID=DispatcherAdmin;PWD=87654321;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <applicationSettings>
        <SimpleDispatcher.Present.Maintenance.Properties.Settings>
            <setting name="EnableDeleteNotProcessed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableDeleteSucceeded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableDeleteFailed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableDeleteRetrying" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableDeleteSkipped" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableDeleteCancelled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DeleteChunk" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="DeleteTimeout" serializeAs="String">
                <value>3600</value>
            </setting>
            <setting name="CanAddError" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CanAddWarning" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CanAddInfo" serializeAs="String">
                <value>True</value>
            </setting>
        </SimpleDispatcher.Present.Maintenance.Properties.Settings>
    </applicationSettings>
</configuration>